footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #86898f;
    border-top: 1px solid #e9ecef;
}

a,p {
    font-size: .8rem;
    color: #fdfdfd;
}

.logo-footer{
    width: 3rem;
    margin: 0 auto;
}

