.articles-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background-color: #242529;
  margin: 0 auto;
  color : #eeeeee;
  
}

.article-actions {
  margin-top: 1rem;
}

.error {
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 5px;
}
